<div class="container" *ngIf="showLink('company')">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ action=='update' ? tr?.edit : tr?.newF }} {{ tr?.company }}</h2>

            <button class="btn btn-default pull-sm-right" (click)="list()"><i class="fa fa-angle-left" aria-hidden="true"></i> {{ tr?.list }}</button>
        </div>
    </div>

    <alert *ngIf="alerts.warning" [type]="'danger'" dismissible="true" (close)="closeAlert('warning')">
        {{ alerts.warning }}
    </alert>
    <alert *ngIf="alerts.info" [type]="'success'" dismissible="true" (close)="closeAlert('info')">
        {{ alerts.info }}
    </alert>

    <form (ngSubmit)="onSubmit()" #companyForm="ngForm" novalidate>

        <div class="form-group row">
            <div class="col-sm-12 col-md-4">
                <label for="name">{{ tr?.name }}</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="company.name" #name="ngModel" placeholder="{{ tr?.name }}" />
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="email">{{ tr?.email }}</label>
                <input type="text" class="form-control" id="email" name="email" [(ngModel)]="company.email" #email="ngModel" placeholder="{{ tr?.email }}" pattern="([A-Za-z0-9]|-|_)+@[A-Za-z]+\.[A-Za-z]{2,}" required />
                <div [hidden]="email.pristine" *ngIf="email.errors" class="alert alert-danger w-100">
                    <p *ngIf="email.errors.required">{{ tr?.requiredTence("email") }}</p>
                    <p *ngIf="email.errors.pattern">{{ tr?.patternTence("email") }}</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <label for="ico" title="{{ tr?.ico_title }}">{{ tr?.ico }}</label>
                <input type="text" class="form-control" id="ico" name="ico" [(ngModel)]="company.ico" #ico="ngModel" placeholder="{{ tr?.ico }}" />
            </div>
            <div class="col-sm-6 col-md-2">
                <label>&nbsp;</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="active" [(ngModel)]="company.active"> {{ tr?.active }}
                    </label>
                </div>
            </div>
        </div>

        <hr />

        <div class="form-group row">
            <div class="col-xs-12 col-sm-8">
                <label for="street">{{ tr?.street }}</label>
                <input type="text" class="form-control" id="street" name="street" [(ngModel)]="company.street" #street="ngModel" placeholder="{{ tr?.street }}" />
            </div>
            <div class="col-xs-12 col-sm-4">
                <label for="street_nr">{{ tr?.street_nr }}</label>
                <input type="text" class="form-control" id="street_nr" name="street_nr" [(ngModel)]="company.street_nr" #street_nr="ngModel" placeholder="{{ tr?.street_nr }}" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-12 col-sm-4">
                <label for="state">{{ tr?.state }}</label>
                <input type="text" class="form-control" id="state" name="state" [(ngModel)]="company.state" #state="ngModel" placeholder="{{ tr?.state }}" />
            </div>
            <div class="col-xs-12 col-sm-4">
                <label for="city">{{ tr?.city }}</label>
                <input type="text" class="form-control" id="city" name="city" [(ngModel)]="company.city" #city="ngModel" placeholder="{{ tr?.city }}" />
            </div>
            <div class="col-xs-12 col-sm-4">
                <label for="zip">{{ tr?.zip }}</label>
                <input type="text" class="form-control" id="zip" name="zip" [(ngModel)]="company.zip" #zip="ngModel" placeholder="{{ tr?.zip }}" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-12 col-sm-4">
                <label for="phone">{{ tr?.phone }}</label>
                <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="company.phone[0]" #phone="ngModel" placeholder="{{ tr?.phone }}" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-default" [disabled]="!companyForm.form.valid">{{ tr?.submit }}</button>
            </div>
        </div>
    </form>
</div>
